we_learning_android/android/.gradle/7.5/executionHistory/executionHistory.lock
we_learning_android/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
we_learning_android/android/.gradle/7.5/fileHashes/fileHashes.lock
we_learning_android/android/.gradle/7.5/fileHashes/fileHashes.bin

